{
  "singleQuote": true,
  "printWidth": 110,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always"
      }
    }
  ]
}
